# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Arquivos de compilação / construção
build/
dist/
*.css
*.js

# Dependências instaladas
/node_modules/

# Arquivos de ambiente local
.env.local
.env.development.local
.env.test.local
.env.production.local

# Arquivos de cache e logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Arquivos temporários
*.log
*.tmp

# Arquivos de compilação de TypeScript
*.tsbuildinfo

